{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
 



<section class="hero is-small " style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.etsystatic.com/24535918/r/il/c1fbba/2528400869/il_1140xN.2528400869_21mt.jpg');">
            <div class="hero-body">
                <div class="container ">
                	<form method="POST" >
                		{% csrf_token %}
                	
                    <div class="card column is-half is-offset-one-quarter mt-3 mb-3 p-6	">
                        <div class="field p-3">
                            <h2 class="has-text-centered pb-4 is-size-1">Welcome to WallStudios </h2>
                            <p class="has-text-danger has-text-centered pb-2"> 
{% for message in messages %}

             
                        {{ message }}

                   
            {% endfor %}
                            </p>
                            <div class="control"> 
                                {% render_field form.username class="input p-5 is-rounded" type="text" placeholder="e.g Alex Smith" %}
                            </div>
                            
                        </div>

                        <div class="field p-3">

                            <div class="control">
                               {% render_field form.password class="input p-5 is-rounded" type="password" placeholder="password" %}
                            </div>
                        </div>
                        <div class="field p-3">

                            <div class="control">
                                <a class="is-link is-size-6" href="{% url 'reset_password' %}"><strong>Forgot Your Password?</strong></a>
                            </div>
                        </div>
                        <div class="control p-3">
                            <button style="width: 100%;" type="submit" class=" is-rounded p-5 button is-danger">Sign In</button>
                        </div>
                        <div class="control p-3 has-text-centered">
                            <a class="is-size-6" href="{% url 'register' %}"> <strong>Not on WallStudios yet?
                                    Sign-up</strong> </a>
                        </div>

                    </div>
                    </form>
                </div>
            </div>
        </section>


{% endblock body %}
