{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<section class="hero is-small " style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.etsystatic.com/24535918/r/il/c1fbba/2528400869/il_1140xN.2528400869_21mt.jpg');">
    <div class="hero-body">
        <div class="container ">
            <form method="POST">
                {% csrf_token %}
                <div class="card column is-half is-offset-one-quarter mt-3 mb-3 p-6	">
                    <div class="field p-3">
                        <h2 class="has-text-centered pb-4 is-size-2">Change Details</h2>
                        <div class="control">
                            {% render_field form.old_password class="input p-5 is-rounded" type="password" placeholder="Old password" %}
                        </div>
                        {% for error in form.old_password.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
                    </div>
                    <div class="field p-3">
                       
                        <div class="control">
                            {% render_field form.new_password1 class="input p-5 is-rounded" type="password" placeholder="New password" %}
                        </div>
                        {% for error in form.new_password1.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
                    </div>
                    <div class="field p-3">
                       
                        <div class="control">
                            {% render_field form.new_password2 class="input p-5 is-rounded" type="password" placeholder="Password confirmation" %}
                        </div>
                        {% for error in form.new_password2.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
                    </div>
                   
                    <div class="control p-3">
                        <button style="width: 100%;" type="submit" class=" is-rounded p-5 button is-danger">Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock body %}