{% extends "base.html" %}
{% block body %}
{% if user.is_authenticated %}

<section  class="hero is-large" style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.etsystatic.com/24535918/r/il/c1fbba/2528400869/il_1140xN.2528400869_21mt.jpg');">

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
<h2 class="has-text-centered pb-2 pt-3 is-size-2 has-text-white">Welcome to Pinterest</h2>
<p class="subtitle has-text-centered has-text-light">Explore the images world</p>

  </div>
</div>

    <div class="columns is-multiline mt-5 p-2">

        {% if pins %}
            
        
       
        {% for pin in pins %}
        <div class="has-text-centered column is-3 is-3-fullhd is-3-desktop is-6-tablet is-12-mobile">
            <a href="/pin/{{pin.sno}}" class="box">
                <img src="{{pin.image.url}}" alt="" class="p-1">
            </a>
        </div>
        {% endfor %}
         {% endif %}

    </div>
</section>
{% else %}
<section class="hero is-large" style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.etsystatic.com/24535918/r/il/c1fbba/2528400869/il_1140xN.2528400869_21mt.jpg');">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-1 has-text-white">Welcome to Pinterest</h1>
            <p class="is-size-4 has-text-white">Sign up to get your ideas</p>
            <br>
            <div class="control">
                <a href="{% url "register" %}" class="button is-danger">Sign Up</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock body %}